[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
gspread = "*"
google-api-python-client = "*"
google-auth-oauthlib = "*"
requests = "*"
pydash = "*"
aiohttp = "*"
python-dotenv = "*"
datetime = "*"
termcolor = "*"
nest-asyncio = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.9"
